<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fototeca</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
  <%- include('./partials/navbar') %>

    <main class="container">
      <h2>Galería de Razas de Perros</h2>

      <% if(images.length===0) { %>
        <article>
          <p>Todavía no hay imágenes en tu galería.</p>
          <p>¡Añade una ahora desde el menú!</p>
        </article>
        <% } else { %>
          <p>Tu galería tiene <strong>
              <%= images.length %>
            </strong> imagen<%= images.length> 1 ? 'es' : '' %>.</p>

          <section class="grid">
            <% images.forEach(function(i) { %>
              <article>
                <img src="<%= i.url %>" alt="<%= i.title %>" style="max-width: 100%; border-radius: 10px;">
                <h3>
                  <%= i.title %>
                </h3>
                <p>
                  <%= i.date %>
                </p>
              </article>
              <% }) %>
          </section>

          <% } %>
    </main>